* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
}

.container {
  height: 100vh;
  width: 1440px;
  /* max-width: 100vw; */
  margin: auto;
  display: flex;
  border-radius: 5px;
}

.left {
  height: 100%;
  width: 540px;
  background-image: url("pic/tech.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.left-img {
  display: flex;
  height: 100%;
}

.right {
  height: 100%;
  width: 900px;
  /* overflow: hidden; */
}

.right-cont {
  height: 100%;
  width: 100%;
  background-color: white;
}

.top {
  /* padding:50px 30px 15px; */
  height: calc(100%/3);
  background-color: rgb(231, 231, 235);
}

.line-top {
  width: 700px;
  margin: 0 0 0 15px;
}

.line-top p {
  font-family: 'Manrope', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 30px;
}

.middle {
  height: calc(100%/3);
  font-family: 'Manrope', sans-serif;
}

.form-line {
  width: 700px;
  /* margin: 30px 0 0 20px; */
}

.form-line p {
  margin: 0 0 0 15px;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-top: 20px;
}

.first {
  display: block;
}

.form-cont {
  display: flex;
  padding-top: 10px;
}

.label {
  font-size: .7rem;
  border-radius: 10px;
}

.form-elem {
  margin: 5px 100px 5px 15px;
}

.bottom {
  
  height: calc(100%/3);
  background-color: rgb(231, 231, 235);
  padding: 40px 0 0 15px;
  font-family: 'Manrope', sans-serif;
}

.bottom h4 {
  margin-bottom: 0;
}

.btn {
  background-color: lightgreen;
  height: 50px;
  width: 200px;
  border-radius: 10px;
}

.btn:hover {
  box-shadow: 2px 2px 10px .9px;
}

.content {
  height: 200px;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.7);
  align-self: center;
  text-align: center;
}

.phone {
  /* margin-top: 50px; */
  padding: 40px;
  font-size: 1.8rem;
  color: white;
  font-family: 'Manrope', sans-serif;
}
